/*==================================
	Font-Family: Roboto;
	Use linear-gradient:(90deg, #2BC0E4 10%, #EAECC6 90%);

====================================*/
body {
	font-family: Roboto;
	/*Adding linear gradient so every browser can support it(source:StackOverFlow)*/

  background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* W3C */
}
/*making the ul to none so the cicle goes away*/
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*Adding Some Properties For H1 tag which is defalut To Every H1 tag*/
h1 {
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}
/*So  "+" icon in the Container move to right*/
.fa-plus  {
	float: right;
}
/*So  "the circle" icon in the Sample Task  move to right with right margin*/
.fa-check-circle{
	float: right;
	margin-right: 10px;
	margin-top: 12px;
}
/* Adding Multiple Property ID at the same time */
#container li, #sampletask li {
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
	padding-left: 20px;
}
/*So in both, container and sample task box the li have same color but change (2n)*/
#container li:nth-child(2n) ,#sampletask li:nth-child(2n){
	background: #f7f7f7;
}
/*Adding Property To Span */
#container li span, #sampletask li span {
	background: #e74c3c;
	height: 40px;
	margin-right: 0px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;

	/*Making it hidden when no hover it*/
	opacity: 0;
	/*So the icon move in the right*/
	float: right;
}
/*When Hover on li then the icons come */
#container li:hover span, #sampletask li:hover span {
	width: 40px;
	opacity: 1.0;
}
/* Formatting Input */
input {
	font-size: 18px;
	color: #2980b9;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	/*The box-sizing property allows us to include the padding and border in an 
	 element's total width and height (Source:- w3schools.com)*/
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}
/*Formatting Input When We Write Something On it*/
input:focus{
	background: #fff;
	border: 3px solid #2980b9;
	outline: none;
}

/*Making The Text Input 100% width */
input[type=text]{
	width: 100%;
}
/*Setting the CSS properties in The Main Container*/
#container {
	position: relative;
	width: 360px;
	margin-left:  60%;
	margin-top: 50px;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}
/*Setting The CSS properties in The Sample Task  */
#sampletask{
	
	position: absolute;
	width: 360px;
	left: 13%;
	top: 150px;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}
/* Making Class Completed, So to used in JavaScript To line-through*/
.completed {
	color: gray;
	text-decoration: line-through;
}
/*Making The Width Of The Clear Button 100% and height 40px */
#clear button{
	width: 100%;
	height: 40px;
}

/*Making The Width Of The Add Task Button 100% and height 40px */
#addTask button{
	width: 100%;
	height: 40px;
}
/* Adding CSS Properites To The ABOUT US heading*/
#about-us{
	position: absolute;
	margin-left:  45%;
	margin-top: 337px;
}
/*Changing The Default Styles of H1 tag */
#about-us h1{
	background-color: rgba(197, 239, 247, 1);
	color: #2980b9;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal; 
}
/* Adding a new DIV "basant" for adding the inforamtion about basant*/
#basant{
	background-color: rgba(218, 223, 225, 0.7);
	position: relative;
	width: 100%;
	height: 250px;
	margin-top: 400px;

	/*Adding Properties to H1 in DIV Basant*/
}
#basant h1{
	position: relative;
	background-color: rgba(149, 165, 166, 1);
	color: white;
}
/*Adding Properties to p in DIV Basant*/
#basant p{
	margin-top: -130px; 
	line-height: 28px;
	width: 60%;
	margin-left: 20px;
	
}
/*Adding Properties to <img> in DIV Basant*/
#basant img{
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	top:20px;
	left: 80%;
}
/* Adding a new DIV "himanshu" for adding the inforamtion about Himanshu*/
#himanshu{
	position: relative;
	background-color: rgba(218, 223, 225, 0.7);
	width: 100%;
	height: 250px;
	margin-top: 20px;
}
/*Adding Properties to <H1> in DIV Himanshu*/
#himanshu h1{
	position: relative;
	padding-left: 82%;
	background-color: rgba(149, 165, 166, 1);
	color: white;
	
}
/*Adding Properties to <p> in DIV Himanshu*/
#himanshu p{
	text-align: right;
	margin-top: -120px; 
	line-height: 28px;
	width: 60%;
	margin-left: 39%;
}
/*Adding Properties to <img> in DIV Himanshu*/
#himanshu img{
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	top:20px;
	left: 10%;
}
/* Adding a new DIV "contact" for the variours contact on social networking sites*/
#contact{
	position: relative;
	width: 100%;
	height: 250px;
	margin-top: 20px;
	background-color: black;
	opacity: 0.7;
	color: white;
}
/*Adding The Styles in h2 tag in div "contact" */
#contact h2 {
	text-align: center;
	padding-top: 30px;
}
#contact div{
	/*Using float:left we align our eleement to the left of the page or simply they all
	  comes in one line
	*/
	float: left;
	width: 400px;
}
/*Adding The properties to the person1 div*/
#person1{
	position: relative;
	left: 5%;
}

/*Styling the li in div "person1" */
#person1 li{
	float: left;
	padding-right: 5%;
}
/*Adding The properties to the person2 div*/
#person2{
	position: relative;
	left: 50%;
}
/*Styling the li in div "person2" */
#person2 li{
	float: left;
	padding-right: 5%;
}
/*Adding a div "tohome", when user click on this div, user go to the home section */
#tohome{
	position: relative;
	left: 32%;
	top:58%;
}

